body{
    padding-left: 10px;
    padding-top: 10px;
}
.spaces{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-family: consolas;
}
#display{
    font-size: 18px;
}